---
import Navigation from "@/components/navigation";
import { SITE_DESCRIPTION, SITE_TITLE } from "@/lib/constants";
import "@/styles/global.css";

const { title = "Redifining drug accessibility for everyone" } = Astro.props;

type Props = {
  title?: string;
};
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={SITE_DESCRIPTION} />
    <meta name="robots" content="follow, index" />
    <link rel="colonical" href="/" />
    <link rel="icon" type="image/svg+xml" href="../favicon.svg" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.js"
      integrity="sha512-BJ/5sR2hFxQTKin/55JQCcMTObShDBAmVjL/3NR/MVcrhyOazJjAgvROem03+HYyGw16SVdSfoWCFGr9syxAKA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"></script>
    <title>{SITE_TITLE} - {title}</title>
  </head>
  <body class="min-h-screen bg-white w-screen">
    <Navigation  url={Astro.url} client:visible/>
      <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
